.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--primary-color);
    height: 64px;
}

.header h1 {
    color: var(--primary-dark);
}

.searchBox input {
    height: 35px;
    width: 300px;
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 20px;
    border-radius: 5px;
}
